@model PmwebProjeto.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            CNPJ
        </dt>
        <dd class="col-sm-10" >
            @Html.DisplayFor(model => model.Cnpj) 
        </dd>

        <dt class="col-sm-2">
            Endereço
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            Descrição
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.ImagensUrl)" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Voltart</a>
</div>
